---
layout: default
id: online
---
<h1>Online demo</h1>
<section class="left">
	<h2>Template code</h2>
	<textarea id="template">{% include online_template.ist %}</textarea>
	
	<h2>Data (JSON)</h2>
	<textarea id="data">{% include online_data.json %}</textarea>
</section>
<section class="right">
	<h2>Preview</h2>
	<div id="error"></div>
	<div id="preview"></div>
</section>

<script type="text/javascript" src="ist-min.js"></script>
<script type="text/javascript">
	window.onload = function() {
		var templateTA = document.getElementById("template"),
			dataTA = document.getElementById("data"),
			error = document.getElementById("error"),
			previewDiv = document.getElementById("preview"),
			update, keydown;

		update = function() {
			var template, data, node;

			error.style.display = 'none';

			try {
				template = ist(templateTA.value, "template code");
			} catch(e) {
				error.innerHTML = e.message;
				error.style.display = 'block';
				return;
			}

			try {
				data = JSON.parse(dataTA.value);
			} catch(e) {
				error.innerHTML = "Error in JSON data: " + e.message;
				error.style.display = 'block';
				return;
			}

			try {
				node = template.render(data);
			} catch(e) {
				error.innerHTML = e.message;
				error.style.display = 'block';
				return;
			}

			while(previewDiv.firstChild) {
				previewDiv.removeChild(previewDiv.firstChild);
			}				
			previewDiv.appendChild(node);
		};

		keydown = function(e) {
			var kc, oS, sS, sE;

			e = e || window.event;
			kc = e.keyCode || e.which;

			if (kc === 9) {
				oS = this.scrollTop;
				if (this.setSelectionRange) {
					sS = this.selectionStart;
					sE = this.selectionEnd;
		
					this.value = this.value.substring(0, sS) + "    " + this.value.substr(sE);
					this.setSelectionRange(sS + 4, sS + 4);
					this.focus();
				} else if (this.createTextRange) {
					document.selection.createRange().text = "    ";
				}
	
				this.scrollTop = oS;
	
				if (e.preventDefault) {
					e.preventDefault();
				}
	
				e.returnValue = false;
				return false;
			}
		};

		templateTA.onkeyup = dataTA.onkeyup = update;
		templateTA.onkeydown = dataTA.onkeydown = keydown;

		update();
	};
</script>
